{{ define "main" }}
    <div class="uk-section">
        <div class="uk-container">
            <div>
                <div>
                    <h2 class="uk-h3 uk-text-bold">Sitemap</h2>
                    <hr>
                    <ul class="uk-list uk-column-1-3@s">
                        {{ range $.Site.Pages.ByTitle }}
                            {{ if ne .Title "" }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{ end }}