  
{{ partial "global/head" . }}
{{ $absURL := $.Site.Data.developer.enable_absolute_path }}

<div class="uk-background-cover uk-height-idx uk-panel uk-flex uk-flex-center uk-flex-middle page-banner" style="background: url({{ if $absURL }}{{ .Site.BaseURL }}{{ .Site.Data.appearance.pages.image }}{{ else }}{{ .Site.Data.appearance.pages.image }}{{ end }})no-repeat center;background-size:cover">
    <div class="hero-overlay uk-position-cover"></div>
    <div class="uk-position-top full-nav-wrapper">
        {{ partial "global/navbar" . }}
    </div>
</div><div class="uk-section">
    <div class="uk-container uk-container-large">
        {idx_body}
    </div>
</div>
{{ partial "global/footer" . }}