/* TYPOGRAPHY */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}

.main-hero p {
    color: #fff;
    font-size: 17px; 
}

body {
    font-family: 'Lato', sans-serif;
    color: #393939;
    font-size: 15px;
    line-height: 27px;
}

.md-content a {
    color: var(--primary-link-color);
}

.primary-link {
    color: var(--primary-link-color);
}

body a:hover {
    text-decoration: none;
    color: inherit;
}

body a {
    color: inherit;
}

body em {
    color: inherit;
}

.hr-wordbreak {
    word-break: break-all;
}


#home-section {
    overflow-x: hidden;
}

div.uk-overlay-baseof {
    background: rgb(17 17 17 / 60%);
}


/* OVERWRITE */

.hr-text-medium-bold {
    font-weight: 600;
}

.social_icons .uk-icon-button {
    color: var(--primary-accent-color);
}

.primary-accent {
    color: var(--primary-accent-color);
}

.uk-height-idx {
    height: 225px;
}

@media screen and (max-width: 768px) {
    .max-button {
        width: 100%;
        margin-top: 10px;
    }
}

div.single-details-list ul.uk-list>:nth-child(n+2) {
    margin-top: 0;
}
div.uk-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

a.uk-button.listing-detail-cta {
    padding: 5px 30px;
}

a.uk-button.uk-button-primary,
button.uk-button.uk-button-primary,
div.idx-button-navbar li a.uk-button-primary {
    border-radius: 4px;
    background-color: var(--primary-button-background);
    color: var(--primary-button-text-color)!important;
}

div.idx-button-navbar li a.uk-button-primary:hover,
a.uk-button.uk-button-primary:hover
button.uk-button.uk-button-primary:hover {
    background-color: var(--primary-button-background)!important;
    color: var(--primary-button-text-color)!important;
}

div#ihf-main-container .btn-primary {
    background-color: var(--primary-button-background)!important;
}

[title~=Sold] {
    background: #d10000!important;
  }

.hero-overlay {
    background: rgba(69 69 69 / 50%);
}

.listing-detail-overlay {
    background: rgba(0 0 0 / 40%);
}

.feature-box-overlay {
    transition: .3s;
    background: rgba(0 0 0 / 20%);
}

.feature-box-overlay:hover {
    background: rgba(0 0 0 / 40%);
    transition: .3s;
}

div#home-section div.uk-section:nth-child(odd) {
    background: #f7f8f9;
}

@media (min-width: 1200px) {
    div.uk-card-body {
        padding: 20px 20px;
    }
}

.uk-white {
    color: #fff;
}

.border {
    border: 1px solid rgba(204, 204, 204, 0.4);
}

/* NAVBAR */

.navbar-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.uk-light a.uk-navbar-toggle {
    color: #fff;
}

nav.main-nav.uk-navbar-container.uk-navbar-sticky.uk-dark {
    box-shadow: 0px 0px 30px 0px rgb(38 38 38 / 50%);
}

ul.uk-navbar-nav.top-bar li a {
    text-transform: unset!important;
}

div.top-navbar ul.uk-navbar-nav>li>a {
    min-height: 50px;
    font-weight: 400;
}

.uk-navbar-sticky a.uk-navbar-toggle {
    color: #000!important;
}

div.uk-navbar-dropdown {
    padding: 10px;
}

div .uk-light .uk-navbar-nav>li>a {
    color: #fff;
}

h2.site-title {
    font-weight: 500;
}

h2.site-title.dark-logo {
    color: #000;
}

ul.uk-nav-default.uk-dark li a,
ul.uk-nav-default.uk-dark li.uk-parent .uk-nav-sub li a {
    color: #000;
}


ul.uk-nav-default.uk-light li a,
ul.uk-nav-default.uk-dark li.uk-parent .uk-nav-sub li a {
    color: #e4e4e4;
}

/* HERO */

.uk-container.desktop-quicksearch {
    background: rgb(0 0 0 / 54%);
    padding: 20px;
}

.uk-container.desktop-quicksearch label {
    color: rgb(204, 204, 204)
}

@media screen and (max-width:768px) {
    div.desktop-quicksearch {
        display: none;
    }
}

@media screen and (min-width:768px) {
    div.mobile-quicksearch {
        display: none;
    }
}

.black-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(17,17,17,0.2);
}

/* WHITE/BLACK LOGO */

.uk-visible\@s.uk-sticky.undefined.uk-sticky-below.uk-sticky-fixed .white-logo,
div.uk-sticky.uk-sticky-below.uk-sticky-fixed.undefined .white-logo,
.uk-visible\@m.uk-sticky.uk-sticky-below.uk-sticky-fixed .white-logo,
.uk-sticky.uk-sticky-below.uk-sticky-fixed .white-logo {
    display: none;
}

.uk-navbar-sticky .dark-logo {
    display: block;
}

.dark-logo {
    display: none;
}


/* FORM */

input#search-query {
    background: #fff;
    color: #000;
}

input#search-query::placeholder {
    color: rgb(139, 139, 139);
}

div.text-form {
    background: #f2f2f3;
    padding: 40px;
}

/* SEARCH */

#top-search {
    background: #F8F8F8;
    padding: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    div.desktop-view {
        display: none;
    }

    .reset-filter {
        margin-top: 5px;
    }
}

@media screen and (min-width:768px) {
    div.mobile-view {
        display: none;
    }

    #top-search .uk-active{
        background: #090909;
        color: #fff;
    } 

}

div.uk-dropdown {
    padding: 10px;
}

div.uk-dropdown ul li {
    cursor: pointer;
    padding-left: 5px;
}



span.search-filter {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
    background: black;
}

span.search-filter:empty {
    visibility: hidden;
}

.featured-filter {
    background: #f0b327;
    color: white;
}

/* #top-search .uk-inline button.uk-button:not(.reset-filter.uk-active) {
    background: #fff;
} */

/* PROPERTY CARD */

span.featured.uk-badge {
    background: #f1b425;
}

span.status.uk-badge,
span.featured.uk-badge {
    padding: 11px 10px;
    border-radius: 5px;
    color: #fff!important;
    margin: 2px;
    font-size: 15px;
}

.property-card-overlay {
    background: rgba(0 0 0 / 20%);
}

.property-card .property-card-details {
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

span.price-badge {
    background: 0 0;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
}

.property-card .property-card-address {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed;
}

.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: .75rem;
}


.card-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex;
}

/* PROPERTY DETAIL PAGE */

.image-thumbnail {
    background: rgb(0 0 0 / 65%);
    padding: 10px;
}

.single-details-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.single-details-list ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 25px;
    font-size: 13px;
}

.single-details-list ul li span {
    float: right;
}

@media screen and (max-width: 960px) {
    .single-details-list ul {
        columns: 1!important;
        -webkit-columns: 1!important;
        -moz-columns: 1!important;
    }

    ul.baseof-listing {
        height: 200px;
    }
}

/* TESTIMONIAL */

img.uk-comment-avatar {
    background: var(--primary-button-background);
    color: var(--primary-button-text-color);
    border-radius: 50px;
}

/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #222222;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .pagination li:hover a {
    background: var(--primary-button-background);
    transition: all .3s ease;
  }
  
  ul.pagination {
    justify-content: center;
  }
  
  li.page-item {
    padding: 2px;
    font-size: 14px;
  }
  
  .pagination-next,
  .pagination-previous {
    background: transparent;
  }
  
  a.pagination-link, a.pagination-next, a.pagination-previous {
    border-color: transparent;
  }
  
  li.page-item.active {
    border-bottom: 2px solid var(--primary-button-background);
  }

  li.page-item.active a {
      color: var(--primary-link-color);
  }
  
  li.page-item.disabled {
    display: none;
  }

/* FOOTER */

footer.footer h5 {
    font-weight: 600;
}

footer.footer a {
    transition: .3s ease;
}

footer.footer a:hover {
    color: rgb(163, 163, 163);
    transition: .3s ease;
}

/* TO TOP */

#scroll-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: .3s ease;
    background: #090909;
}
  
  #scroll-top:hover {
    background-color: rgb(34, 34, 34);
    transition: .3s ease;
}


/* SOCIAL SHARING */

div#social-share div a {
    margin: 5px;
    float: left;
}

.share-button {
    padding: 5px;
    transition: .2s;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.share-button.facebook { 
    background-color: #4A66B7;

}

.share-button.facebook:hover {              
    background-color: #243c85;
    color: #fff;
    transition: .2s;
}

.share-button.twitter { 
    background-color: #1B95E0;
}

.share-button.twitter:hover { 
    transition: .2s;
    color: #fff;
    background-color: #157ab9; 
}

.share-button.linkedin { 
    background-color: #0077B5;
}

.share-button.linkedin:hover { 
    transition: .2s;
    color: #fff;
    background-color: #155b81; 
}

.share-button.pinterest { 
    background-color: #c92228; 
}

.share-button.pinterest:hover { 
    transition: .2s;
    color: #fff;
    background-color: #a82125; 
}

.share-button.email { 
    background-color: #222222; 
}

.share-button.email:hover { 
    color: #fff;
    background-color: #000000; 
}

.editor-link {
    background: rgb(243, 243, 0);
    padding: 10px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    bottom: 20px;
    width: 150px;
}

.editor-content {
    display: none;
  }
  
  .cms-editor-active .editor-content {
    display: block;
  }

  .editor-menu {
      top: 20px;
      color: #000!important;
  }