{{ define "main" }}
{{ $size := .Site.Data.developer }}
{{ $absURL := $.Site.Data.developer.enable_absolute_path }}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-{{ $size.column_size }}">
                {{ if .Params.featured_image }}
                <div class="uk-margin-medium">
                    <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ .Params.featured_image }}{{ else }}{{ .Params.featured_image }}{{ end }}" alt="{{ .Params.image_alt_tag }}">
                </div>
                {{ end }}
                <div class="md-content">
                    {{ .Content }}
                </div>
                <hr>
                {{ if .Params.categories }}
                <ul class="uk-list">
                    <h3 class="uk-text-bold">Categories</h3>
                    {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
                    <li class="uk-display-inline-block">
                        <span class="uk-margin-small-right"><a href="/categories{{ $name | urlize | relURL }}" class="uk-text-link">{{ $name | humanize }}</a></span>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ if .Params.tags }}
                <ul class="uk-list">
                    <h3 class="uk-text-bold">Tags</h3>
                    {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                    <li class="uk-display-inline-block">
                        <span><a href="/tags{{ $name | urlize | relURL }}" class="uk-margin-small-left uk-text-link">{{ $name | humanize }}</a></span>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}

                <div class="uk-margin-medium-top">
                    {{ partial "templates/share" . }}
                </div>
            </div>
            
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}