{{ define "main" }}
{{ $size := .Site.Data.developer }}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div uk-grid>
            <div class="uk-width-{{ $size.column_size }}">
                <div class="uk-card uk-card-body">
                    <div class="editable md-content">
                        {{ .Content }}
                    </div>
                    {{ partial "templates/home-value-form" . }}
                </div>
            </div>
            {{ partial "templates/page-sidebar" . }}
        </div>
    </div>
</div>
{{ end }}
