{{ define "main" }}
{{ $size := .Site.Data.developer }}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-small" uk-grid>
            <div class="{{ if .Site.Data.appearance.sidebar.remove_sidebar }}uk-width-1-1@m{{ else }}uk-width-{{ $size.column_size }}{{ end }}">
                <div class="content uk-margin-medium-top md__content">
                    {{ .Content }}
                </div>
            </div>
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>

{{ end }}
