{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
{{ $idx := $.Site.Data.idx }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $mainMenu := .Site.Data.menu }}
{{ $absURL := $.Site.Data.developer.enable_absolute_path }}

<style>
    nav.uk-navbar-sticky ul li a,
    .uk-navbar-sticky ul li a svg {
        color: #000 !important;
    }
</style>
<div class="uk-visible@m"
    uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200"
    {{ if $navColor.transparent_background }}{{ else }}style="background: {{ $navColor.header_background_color }};" {{ end }}>
    <div class="top-navbar {{ if $navColor.enable_white_text_top }}uk-light{{ else }}uk-dark{{ end }}" style="background:{{ if $navColor.top_header_color }}{{ $navColor.top_header_color }}{{ else }}transparent{{ end }}">
        <nav class="uk-container uk-container-large" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav top-bar">
                    {{ if $navContact.cell }}<li><a href="tel:{{ $navContact.cell }}"><span class="uk-text-bold uk-margin-small-right">Direct:</span> {{ $navContact.cell }}</a>
                    </li>{{ end }}
                    {{ if $navContact.phone }}<li><a href="tel:{{ $navContact.phone }}"><span class="uk-text-bold uk-margin-small-right">Office:</span> {{ $navContact.phone }}</a>
                    </li>{{ end }}
                    {{ if $navContact.email }}<li><a href="mailto:{{ $navContact.email }}"><span class="uk-text-bold uk-margin-small-right">Email:</span> {{ $navContact.email }}</a>
                    </li>{{ end }}
                </ul>
            </div>
        </nav>
    </div>
    <nav class="main-nav uk-navbar-container uk-navbar-transparent{{ if $navColor.enable_white_text }} uk-light{{ else }} uk-dark{{ end }}" {{ if not .IsHome }}style="border-bottom: 1px solid rgb(213 213 213 / 20%);"{{ end }}>
        
        <div class="uk-container uk-container-large">
            
            <div uk-navbar>
                <div class="uk-navbar-left">
                    
                    {{ if $navbar.logo }}
                    <a href="{{ .Site.BaseURL }}">
                        {{ if $navColor.transparent_background }}
                        <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ $navbar.logo }}{{ else }}{{ $navbar.logo }}{{ end }}"
                            alt="{{ .Site.Data.profile.company_name }} logo"
                            width="{{ $navbar.logo_width }}" class="white-logo">
                        <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ $navbar.dark_logo }}{{ else }}{{ $navbar.dark_logo }}{{ end }}"
                            alt="{{ .Site.Data.profile.company_name }} logo"
                            width="{{ $navbar.logo_width }}" class="dark-logo">
                        {{ else }}
                        <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ $navbar.logo }}{{ else }}{{ $navbar.logo }}{{ end }}"
                            alt="{{ .Site.Data.profile.company_name }} logo"
                            width="{{ $navbar.logo_width }}">
                        {{ end }}
                    </a>
                    {{ else }}
                    <a href="{{ .Site.BaseURL }}">
                        <h2 class="uk-h3 uk-margin-remove site-title white-logo">{{ $navbar.site_title }}</h2>
                        <h2 class="uk-h3 uk-margin-remove site-title dark-logo">{{ $navbar.site_title }}</h2>
                    </a>
                    {{ end }}

                </div>
                <div class="uk-navbar-right">
                    <a href="cloudcannon:collections/data/menu.yml" class="editor-link editor-menu editor-content"><span uk-icon="icon: file-edit"></span> Edit Menu</a>

                    <ul class="uk-navbar-nav">
                        {{ range $mainMenu.menu }}
                        <li>
                            {{ if .menu }}
                            <a href="#">{{ .name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{ range .menu }}
                                    <li class="uk-active"><a href="{{ .link }}">{{ .name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                            {{ else }}
                            <a href="{{ .link }}">{{ .name }}</a>
                            {{ end }}
                        </li>
                        {{ end }}

                        {{ if $idx.enable_idx }}
                        <div class="uk-navbar-item">
                            {{ if $.Site.Data.idx.incomplete_subdomain }}
                            <li><a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/organizer/login/{{ $ihfID }}"
                                    class="uk-button uk-button-primary" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }}!important;">My Account</a></li>
                            {{ else }}
                            <li><a href="https://{{ $.Site.Data.idx.complete_subdomain }}.com/organizer/login/{{ $ihfID }}"
                                    class="uk-button uk-button-primary" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }}!important;">My Account</a></li>
                            {{ end }}

                        </div>
                        {{ end }}

                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>


<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200"
    {{ if $navColor.transparent_background }}{{ else }}style="background: {{ $navColor.header_background_color }};" {{
    end }}>
    <nav class="uk-navbar uk-navbar-container uk-hidden@m uk-padding-small uk-box-shadow-small{{ if $navColor.enable_white_text }} uk-light{{ else }} uk-dark{{ end }}">
        <div class="uk-navbar-left">
            {{ if $navbar.logo }}
            <a href="{{ .Site.BaseURL }}">
                {{ if $navColor.transparent_background }}
                <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ $navbar.logo }}{{ else }}{{ $navbar.logo }}{{ end }}" alt="{{ .Site.Data.profile.company_name }} logo"
                    width="{{ $navbar.logo_width }}" class="white-logo">
                <img src="{{ if $absURL }}{{ .Site.BaseURL }}{{ $navbar.dark_logo }}{{ else }}{{ $navbar.dark_logo }}{{ end }}"
                    alt="{{ .Site.Data.profile.company_name }} logo"
                    width="{{ $navbar.logo_width }}" class="dark-logo">
                {{ else }}
                <img src="{{ $navbar.logo }}" alt="{{ .Site.Data.profile.company_name }} logo"
                    width="{{ $navbar.logo_width }}">
                {{ end }}
            </a>
            {{ else }}
            <h2 class="uk-h3 uk-margin-remove site-title white-logo">{{ $navbar.site_title }}</h2>
            <h2 class="uk-h3 uk-margin-remove site-title dark-logo">{{ $navbar.site_title }}</h2>            
            {{ end }}
        </div>
        <div class="uk-navbar-right">
            <a href="cloudcannon:collections/data/menu.yml" class="editor-link editor-menu editor-content"><span uk-icon="icon: file-edit"></span> Edit Menu</a>

            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle></a>
        </div>
    </nav>
</div>
<div id="mobile-menu-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color: {{ $navColor.mobile_menu.background_color }}">
        <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical {{ if $navColor.mobile_menu.enable_white_text }}uk-light{{ else }}uk-dark{{ end }}" uk-nav>

            {{ range $mainMenu.menu }}
            {{ if .menu }}
            <li class="uk-parent">
                <a href="#">{{ .name }}</a>
                <ul class="uk-nav-sub">
                    {{ range .menu }}
                    <li class="uk-active"><a href="{{ .link }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li>
                <a href="{{ .link }}">{{ .name }}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ if $idx.enable_idx }}
            <li class="uk-nav-header"></li>
            {{ if $.Site.Data.idx.incomplete_subdomain }}
            <a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary uk-width-1-1" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};">My Account</a>
            {{ else }}
            <li><a href="https://{{ $.Site.Data.idx.complete_subdomain }}.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary uk-width-1-1" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};">My Account</a></li>
            {{ end }}
            {{ end }}
            <li class="uk-nav-header"></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header"></li>
            {{ if $navContact.email }}<li><a href="mailto:{{ $navContact.email }}" class="uk-link-text uk-display-block hr-wordbreak"><strong>Email:
                    </strong><br>{{ $navContact.email }}</a></li>{{ end }}
            {{ if $navContact.phone }}<li><a href="tel:{{ $navContact.phone }}" class="uk-link-text uk-display-block hr-wordbreak"><strong>Office:
                    </strong><br>{{ $navContact.phone }}</a></li>{{ end }}
            {{ if $navContact.cell }}<li><a href="tel:{{ $navContact.cell }}" class="uk-link-text uk-display-block hr-wordbreak"><strong>Direct:
                    </strong><br>{{ $navContact.cell }}</a></li>{{ end }}
            {{ if $navContact.address }}<li><a
                    href="{{ if $navContact.google_page_link }}{{ $navContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $navContact.address }},+{{ $navContact.city }},+{{ $navContact.state }}+{{ $navContact.zip_code }}{{ end }}" class=" uk-display-block hr-wordbreak"><strong>Address:</strong><br>{{ $navContact.address }}, {{
                    $navContact.city }}, {{ $navContact.state }} {{ $navContact.zip_code }}</a></li>{{ end }}
            <li class="uk-nav-header"></li>
            {{ partial "templates/social" . }}

        </ul>
    </div>
</div>