{{ $footerContact := .Site.Data.profile.contact_information }}

{{ if $footerContact.phone }}<li><span class="uk-margin-small-right" uk-icon="receiver"></span><a href="tel:{{ $footerContact.phone }}">{{ $footerContact.phone }}</a></li>{{ end }}
{{ if $footerContact.cell }}<li><span class="uk-margin-small-right" uk-icon="phone"></span><a href="tel:{{ $footerContact.cell }}">{{ $footerContact.cell }}</a></li>{{ end }}
{{ if $footerContact.email }}<li><span class="uk-margin-small-right" uk-icon="mail"></span><a href="mailto:{{ $footerContact.email }}">{{ $footerContact.email }}</a></li>{{ end }}
{{ if $footerContact.address }}<li><span class="uk-margin-small-right" uk-icon="location"></span><a href="{{ if $footerContact.google_page_link }}{{ $footerContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $footerContact.address }},+{{ $footerContact.city }},+{{ $footerContact.state }}{{ end }}">{{ $footerContact.address }}, {{ $footerContact.city }}, {{ $footerContact.state }} {{ $footerContact.zip_code }}</a></li>{{ end }}
