<div id="social-share">
    <h2 class="uk-h5 hr-text-medium-bold">Share This</h2>
    <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="share-button facebook" target="_blank"><span uk-icon="icon: facebook"></span> Share on Facebook</a>
    </div>
    <div>
        <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" class="share-button twitter" target="_blank"><span uk-icon="icon: twitter"></span> Tweet this</a>
    </div>
    <div>
        <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}title={{ .Title }}&mini=true" class="share-button linkedin" target="_blank"><span uk-icon="icon: linkedin"></span> Share on Linkedin</a>
    </div>
    <div>
        <a href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}description={{ .Summary | truncate 200 }}&media={{ .Params.featured_image }}" class="share-button pinterest" target="_blank"><span uk-icon="icon: pinterest"></span> Pin on Pinterest</a>
    </div>
    <div>
        <a class="share-button email" href="mailto:?subject={{ .Title }}" target="_blank"><span uk-icon="icon: envelope"></span> Share via Email</a>
    </div>

</div>