{{ $companySocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}


<div class="social_icons">
{{ if $companySocial.facebook }}<a href="{{ $companySocial.facebook }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.instagram }}<a href="{{ $companySocial.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.linkedin }}<a href="{{ $companySocial.linkedin }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.pinterest }}<a href="{{ $companySocial.pinterest }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: pinterest; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.twitter }}<a href="{{ $companySocial.twitter }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.youtube }}<a href="{{ $companySocial.youtube }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: youtube; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.tiktok }}<a href="{{ $companySocial.tiktok }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: tiktok; ratio: .8" target="_blank"></a>{{ end }}
{{ if $companySocial.yelp }}<a href="{{ $companySocial.yelp }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: yelp; ratio: .8" target="_blank"></a>{{ end }}
</div>