{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $slideSettings := .Params.slideshow_settings }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 100">
    {{ partial "global/navbar" . }}
</div>
{{ if .Params.video_background.video_link }}
{{ $buttonColor := .Site.Data.appearance.colors }}
<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>

    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1636132823/rajon-arrae/rajon-arrae-estates/pexels-arsel-8403602.mp4" defaultMuted autoplay loop muted playsinline uk-cover></video>
    <div class="black-overlay"></div>
        <div class="uk-position-center">
            <div class="uk-section-small">
                <div class="uk-container uk-container-small uk-text-center uk-{{ if .Params.video_background.enable_black_text }}dark{{ else }}light{{ end }}">
                    <h1 class="uk-h1">{{ .Params.video_background.heading }}</h1>
                    <div class="md-content">
                        <h2 class="uk-h4" style="margin-top:40px;">{{ .Params.video_background.body | markdownify }}</h2>
                    </div>
                    <a href="{{ .Params.video_background.button_link }}" class="uk-button uk-button-primary"style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};">{{ .Params.video_background.button_label }}</a>
                </div>
            </div>
        </div>
</div>
{{ else }}
<div class="uk-position-relative uk-visible-toggle main-hero" tabindex="-1" uk-slideshow="animation: {{ $slideSettings.slide_animation }};autoplay: {{ $slideSettings.enable_autoplay }}">

    <ul class="uk-slideshow-items" uk-height-viewport>
        {{ range .Params.slideshow }}
        <li>
            <div class="uk-position-cover uk-transform-origin-center-left{{ if $slideSettings.enable_ken_burns_effect }} uk-animation-kenburns{{ end }}">
                <img src="{{ .image }}" alt="" uk-cover>
                <div class="hero-overlay uk-position-cover"></div>
            </div>
            <div class="uk-position-center uk-position-small uk-text-center">
                <div class="uk-width-2xlarge uk-{{ if $slideSettings.enable_black_text }}dark{{ else }}light{{ end }}">
                    {{ if .subtitle }}<h4>{{ .subtitle }}</h4>{{ end }}
                    {{ if .heading }}<h1 class="uk-margin-remove">{{ .heading }}</h1>{{ end }}
                    <div class="md-content">
                        {{ if .body }}<p class="uk-margin-remove uk-text-default">{{ .body | markdownify }}</p>{{ end }}
                    </div>
                    {{ if eq $.Site.Data.idx.enable_idx false }}
                    <div class="uk-margin-medium-top">
                        <form action="{{ "search" | absURL }}">
                            <div uk-form-custom>
                                <input class="uk-input uk-width-medium" id="search-query" name="s" class="input" placeholder="Search by address, state, zip, city or MLS #" title="Search by address, state, zip, city or MLS #"/>
                                <button class="uk-button uk-button-primary" type="submit" tabindex="-1" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};">Search</button>
                            </div>
                        </form>
                    </div>
                    {{ end }}
                    {{ if $.Site.Data.idx.enable_idx }}
                    <div class="uk-margin-medium-top mobile-quicksearch">
                        {{ if $.Site.Data.idx.incomplete_subdomain }}
                        <a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/homesearch/{{ $ihfID }}" class="uk-button uk-button-primary" style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};">Search Homes</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ul>

    {{ if $.Site.Data.idx.enable_idx }}
    <div class="uk-light hero-foot">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
            <div class="uk-container quicksearch">
                {{ if $.Site.Data.idx.incomplete_subdomain }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ else }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}