{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $slideSettings := .Params.slideshow_settings }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 100">
    {{ partial "global/navbar" . }}
</div>
{{ if .Params.video_background.video_link }}
{{ $buttonColor := .Site.Data.appearance.colors }}
<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>

    <video src="{{ .Params.video_background.video_link }}" defaultmuted autoplay loop muted playsinline uk-cover></video>
    <div class="black-overlay"></div>
        <div class="uk-position-center">
            <div class="uk-section-small">
                <div class="uk-container uk-container-small uk-text-center uk-transition-slide-bottom-small">
                    <div class="{{ if .Params.video_background.enable_black_text }}uk-dark{{ else }}uk-light{{ end }}">
                        <h1 class="uk-h1">{{ .Params.video_background.heading }}</h1>
                        <div class="md-content">
                            {{ .Params.video_background.body | markdownify }}
                        </div>
                    </div>
                    <a href="{{ .Params.video_background.button_link | absURL }}" class="uk-button uk-button-primary">{{ .Params.video_background.button_label }}</a>
                </div>
            </div>
        </div>
</div>
{{ else }}
<div class="uk-position-relative uk-visible-toggle main-hero" tabindex="-1" uk-slideshow="animation: {{ $slideSettings.slide_animation }};autoplay: {{ $slideSettings.enable_autoplay }}">

    <ul class="uk-slideshow-items" uk-height-viewport>
        {{ range .Params.slideshow }}
        <li>
            <div class="uk-position-cover uk-transform-origin-center-left{{ if $slideSettings.enable_ken_burns_effect }} uk-animation-kenburns{{ end }}">
                <img src="{{ .image | absURL }}" alt="" uk-cover />
                <div class="hero-overlay uk-position-cover"></div>
            </div>
            <div class="uk-position-center uk-position-small uk-text-center">
                <div class="uk-width-2xlarge uk-transition-slide-bottom-small">
                    <div class="{{ if $slideSettings.enable_black_text }}uk-dark{{ else }}uk-light{{ end }}">
                        {{ if .subtitle }}<h4>{{ .subtitle }}</h4>{{ end }}
                        {{ if .heading }}<h1 class="uk-margin-remove">{{ .heading }}</h1>{{ end }}
                        <div class="md-content uk-white uk-text-default">
                            {{ if .body }}{{ .body | markdownify }}{{ end }}
                        </div>
                    </div>
                    {{ if $slideSettings.display_button }}
                    <div class="uk-margin-medium-top">
                        <a href="{{ .link | absURL }}" class="uk-button uk-button-primary">{{ .link_label }}</a>
                    </div>
                    {{ end }}
                    {{ if $slideSettings.enable_default_search }}
                    <div class="uk-margin-medium-top">
                        <form action="{{ "search" | absURL }}">
                            <div uk-form-custom>
                                <input class="uk-input uk-width-medium" id="search-query" name="s" placeholder="Search by address, state, zip, city or MLS #" title="Search by address, state, zip, city or MLS #" />
                                <button class="uk-button uk-button-primary" type="submit" tabindex="-1">Search</button>
                            </div>
                        </form>
                    </div>
                    {{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ul>

    {{ if and $.Site.Data.idx.enable_idx $slideSettings.enable_idx_search }}
    <div class="hero-foot">
        <div class="uk-position-bottom uk-position-medium uk-text-center">
            <div class="uk-container desktop-quicksearch">
                {{ if $.Site.Data.idx.incomplete_subdomain }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ else }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if and $.Site.Data.idx.enable_idx $slideSettings.enable_idx_search }}
<div class="uk-section mobile-quicksearch">
    <div>
        <div class="uk-container">
            <div class="editable uk-dark">

            </div>
            {{ if $.Site.Data.idx.incomplete_subdomain }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
            {{ else }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
